.navbar {
   position: fixed;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0a3cc4;
  box-sizing: border-box;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #0e48e8;
}

.active {
  background-color: #2e66ff;
}

.navbar h1 {
  text-align: center; 
}

body {
   background-image: url("https://www.wheretraveler.com/sites/default/files/styles/promoted_image/public/cpybxk.jpg")
}

body, html {
   padding: 0; 
   margin: 0;  
}

